<h1>Order Confirmation</h1>
<p>Order ID: <%= @order.id %></p>
<p>Shipping Address: <%= @order.shipping_address %></p>

<h2>Items:</h2>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= item.product.name %> (x<%= item.quantity %>) - <%= item.price %></li>
  <% end %>
</ul>
<%= link_to 'Back to Orders', orders_path %>