<h1>All Products</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td>
          <%= button_to 'Add to Cart', add_to_cart_carts_path(product_id: product.id), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Product", new_product_path%>